@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --primary-color:#7A6DE3;
  --font-color:rgb(26, 26, 26);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

.underline {
  border-radius: 3px;
  height: 5px;
  background: #c000ff;
  background: -webkit-gradient(linear, left top, right top, from(#c000ff), color-stop(83%, #7a6de3));
  background: linear-gradient(90deg, #c000ff 0%, #7a6de3 83%);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #343047;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 5px solid #1e003a;
  height: 70px;
}

.logo {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .company {
  width: 100px !important;
}

.links {
  text-transform: capitalize !important;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.links:nth-child(n) {
  -webkit-transition: width 1s linear 1s;
  transition: width 1s linear 1s;
}

.links:nth-child(n) a {
  color: #B9BDDC;
  font-size: 20px;
}

.cart-login {
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart-login .cart {
  width: 30px;
}

.cart-login .cart .underline {
  width: 0%;
}

.cart-login .cart:hover .underline {
  width: 120%;
}

.cart-login .btn-login {
  border-radius: 3px;
  height: 35px;
  padding: 0px 15px;
  border: 0px solid transparent;
  background: #c000ff;
  background: -webkit-gradient(linear, right top, left top, from(#9000c0), color-stop(73%, #6957f0));
  background: linear-gradient(270deg, #9000c0 0%, #6957f0 73%);
  font-family: 'Outfit', sans-serif;
  color: #dbdbdb;
}

.cart-login .fas {
  font-size: 25px;
  color: #dce0ff;
}

.cart-login .fas .underline {
  width: 0%;
}

.cart-login .fas:hover .underline {
  width: 100%;
}

.companyname {
  text-transform: capitalize;
  font-size: 35px;
}

.input-field {
  height: 50px;
  border-radius: 5px 0px 0px 5px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 19px;
  padding-left: 5px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.input-field::-webkit-input-placeholder {
  color: #202020;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.input-field:-ms-input-placeholder {
  color: #202020;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.input-field::-ms-input-placeholder {
  color: #202020;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.input-field::placeholder {
  color: #202020;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.input-field:focus {
  outline: invert;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .search-bar {
  height: 30px;
  background-color: #d3d3d3;
  color: #2c2c2c;
}

.search .btn-search {
  width: 50px;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border: 0px solid transparent;
  background-color: #5e16bd;
  background-image: -webkit-gradient(linear, left top, right top, from(#501aa8), to(#870de8));
  background-image: linear-gradient(90deg, #501aa8, #870de8);
}

.search .btn-search:hover {
  background-color: #5e16bd;
}

.search .fas {
  font-size: 15px;
  color: #e6e8ff;
}

.slideshow {
  position: relative;
}

.slideshow .fas {
  position: absolute;
  color: #222222;
  font-size: 90px;
  cursor: pointer;
}

.slideshow .fa-caret-left {
  left: 10px;
  top: 180px;
}

.slideshow .fa-caret-right {
  right: 10px;
  top: 180px;
}

.slideshow .images {
  width: 100vw;
  height: 100px !important; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slideshow .images .image {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  display: none;
  height: 100px !important;
  width: 100vw;
}
/*# sourceMappingURL=navbar.css.map */